.c-text {
    line-height: 1.4;
}

.flag-icon {
    border: 1px solid black;
    background-size: cover;
    background-origin: border-box;
    width: 18px;
    height: 13px;
    top: 2px;
}

.flag-icon--large {
    width: 6em;
    height: 4em;
}

.c-nav a,
.c-nav a:visited,
.c-nav a:link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.sortable-ghost-class {
    background: #aed6f1;
    opacity: .5;
}

.form--inline {
    display: inline;
}

.o-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.text-button--green {
    color: green;
}

.c-table__cell--actions {
    & > *:not(:last-child) {
        margin-right: 6px;
    }
}

.hide-on-small {
    @media(max-width: 650px) {
        display: none;
    }
}

.show-on-small {
    display: none;
    @media(max-width: 650px) {
        display: auto;
    }
}

.c-link--unstyled {
    color: #000;

    &:hover {
        color: #000 !important;
        text-decoration: none !important;
    }

    &:visited {
        color: #000 !important;
    }
}
