.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.float-right {
    float: right;
}

.list-reset {
    list-style: none;
}

.cursor-move {
    cursor: move;
    cursor: -webkit-grabbing;

    &:hover {
        cursor: move;
    }
}
