.c-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c-level__header {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.c-level__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > * {
    padding: 0 10px;
  }
}

.c-improvement-tag {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    width: 2rem;
    text-align: right;
    margin-right: .2rem;
}

.c-best-times {

}

.c-finish-counts {

}

.c-recent-activity {

}

.c-best-times--flex {
    flex-basis: 25%;
}

.c-finish-counts--flex {
    flex-basis: 25%;
}

.c-recent-activity--flex {
    flex-basis: 35%;
}

.c-recent-activity__new-time {

}

.c-recent-activity__old-time {

}

@media(max-width: 650px) {
    .c-level__header {

    }

    .c-best-times--flex {
        flex-basis: 100%;
    }

    .c-finish-counts--flex {
        flex-basis: 100%;
    }

    .c-recent-activity--flex {
        flex-basis: 100%;
    }

    .c-recent-activity__old-time {
        display: none;
    }

    .c-recent-activity__arrow {
        display: none;
    }

    .c-recent-activity__driven-at {
        display: none;
    }
}
