.c-picture-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #cfcfcf;
  padding: .8em;
}

.c-picture-row:hover {
  background-color: #ddd;
}

.c-picture-row__picture {
    & a {
        display: block;
    }
}

.c-picture-row__body {
  padding: 0px 10px;
  flex-grow: 1;
}

@media(max-width: 650px) {
    .c-picture-row__body {
        padding: 0;
    }

    .c-picture-row__picture {
        margin: 0 auto 1em;
    }
}
