.c-positions-list {
    list-style: none;

    & li {
        counter-increment: index;
    }

    & li::before {
        margin-right: 4px;
        content: counter(index) ". ";
    }

    & li:nth-child(1)::before {
        font-weight: 700;
        color: #C98910;
    }

    & li:nth-child(2)::before {
        font-weight: 700;
        color: #A8A8A8;
    }

    & li:nth-child(3)::before {
        font-weight: 700;
        color: #965A38;
    }
}

.c-positions-list--striped {
    & li:nth-child(even) {
        background-color: #f7f7f7;
    }
}

@media(max-width: 650px) {
    .c-positions-list {
        margin-bottom: .5em;
    }
}
